h2 {
    font-size: 2.5em;
    margin: 20px 0 20px -2px;
    text-align: center;
    overflow-wrap: break-word;
    line-height: 1.1;
    letter-spacing: 2px;
}

section.intro{
    max-width: 800px;
}
p.intro {
    font: 10px;
    text-align: center;
    overflow-wrap: break-word;
    letter-spacing: 2px;
}