.container {
    display: flex;
    justify-content: center;
    
    margin: 0;
    padding: 0;
    position: relative;    
    flex-direction: column;
    align-items: center;
}

.audio-visualizer {
    position: absolute;
    top: 0;
    left: 0;
}


.chat-window {
    width: 50%;
    height: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.chat-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: black;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
}
    .chat-header .mic-icon {
        position: absolute;
        right: 10px;
    }

.chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.chat-input{
    
}




/*Add media query*/

@media (max-width: 768px) {
    .chat-window {
        width: 100%;
    /*height all the reste of the screeen*/
    height: calc(100vh - 350px);
    }
}


