.chat-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;    

}

.grid-column {        
    padding: 20px;
    font-size: 30px;
}


.chat-window {
    width: 800px;
    height: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

.chat-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: black;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
}

    .chat-header .mic-icon {
        position: absolute;
        right: 10px;
    }

.chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    font-size:0.5em;
    text-align:right;
}

.chat-message {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    max-width: 60%;
}

.user-message {
    background-color: #d1e7dd;
    align-self: flex-end;
    text-align: right;
}

.assistant-message {
    background-color: #f8d7da;
    align-self: flex-start;
    text-align: left;
}

.chat-messages {
    display: flex;
    flex-direction: column;
}


.chat-input {
}

/* Add media query */
@media (max-width: 768px) {
    .chat-window {
        width: 100%;
        height: calc(100vh - 350px);
    }
}
