.chat-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;    
    /*padding: 10px;*/
}

.grid-column {    
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    padding: 20px;
    font-size: 30px;
    /*text-align: center;*/

}



/* Other styles remain unchanged */
/*.chat-container {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: relative;
    flex-direction: column;
    align-items: center;
}*/


.chat-window {
    width: 100%;
    height: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: black;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
}

    .chat-header .mic-icon {
        position: absolute;
        right: 10px;
    }

.chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    font-size:0.5em;
    text-align:right;
}

.chat-input {
}

/* Add media query */
@media (max-width: 768px) {
    .chat-window {
        width: 100%;
        height: calc(100vh - 350px);
    }
}
