

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

    a:hover {
        color: #535bf2;
    }

body {
    /*margin: 0;*/
    /*display: flex;*/
    /*place-items: center;*/
    /*min-width: 320px;
    min-height: 100vh;*/
}

.frame {
    min-height: 80px;
    border: 1px solid #dee2e6;
    padding: 15px;    

}

p.intro {
    font: 10px;
    text-align: center;
    overflow-wrap: break-word;
    letter-spacing: 2px;
}

.title {
    font-size: 2.5em;
    margin: 20px 0 20px -2px;
    text-align: center;
    overflow-wrap: break-word;
    line-height: 1.1;
    letter-spacing: 2px;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}
